# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
.env

# Node
node_modules/
dist/
.DS_Store

# uv
uv.lock

# IDE
.vscode/
.idea/

*.env 
backend/src/shapes 
backend/data 
*.log 
.env.example 
backend/.env.prod
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
